{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{% block title %}
{% blocktrans trimmed %} Instructions {% endblocktrans %}
{% endblock %}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{% block content %}
<div class="card bg-light mb-3">
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <div class="card-body">
        <h5 class="text-center pb-3"> Summary of company types </h5>
        <div class="card-text">
            <p>
                The different company types are summarized below by ...
            </p>
            <p class="text-center">... their characteristics </p>
            <table class="table">
                <thead>
                <tr>
                    <th>Company type</th>
                    <th> A </th>
                    <th> B </th>
                    <th> C </th>
                    <th> D </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>Owned by ... </th>
                    <td> Owner </td>
                    <td> Owner </td>
                    <td> One of the workers </td>
                    <td> One of the workers</td>
                </tr>
                <tr>
                    <th> Available profit choices </th>
                    <td> Owner bonus, worker bonus, donation</td>
                    <td> worker bonus, donation</td>
                    <td> Owner bonus, worker bonus, donation </td>
                    <td> worker bonus, donation</td>
                </tr>
                <tr>
                    <th> Selling prices earned by</th>
                    <td> Owner </td>
                    <td> Charity</td>
                    <td> Owner </td>
                    <td> Charity</td>
                </tr>
                </tbody>
            </table>
            <p class="text-center">... their flow in the production phase</p>
            <div class="row">
                <div class="col-10 col-md-6">
                    <b>Company A</b>
                    <img src="{{ static 'img/productionA.png'}}" alt="Selling Choice">
                    <b>Company C</b>
                    <img src="{{ static 'img/productionC.png'}}" alt="Selling Choice">
                </div>
                <div class="col-10 col-md-6">
                    <b>Company B</b>
                   <img src="{{ static 'img/productionB.png'}}" alt="Selling Choice">
                    <b>Company D</b>
                    <img src="{{ static 'img/productionD.png'}}" alt="Selling Choice">
                </div>
            </div>

        </div>
    </div>
</div>
<div style="text-align:center;">
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
</div>
{% endblock %}
