{{ extends 'global/Page.html' }}


{# ****************************************************************************************************************** #}
{# *** TITLE *** #}
{# ****************************************************************************************************************** #}
{{ block title }}
{{ blocktrans trimmed }} Production Phase {{ endblocktrans }}
{{ endblock }}

{# ****************************************************************************************************************** #}
{# *** CONTENT *** #}
{# ****************************************************************************************************************** #}
{{ block content }}
<div class="card bg-light mb-3">
    <div class="card-body">
        <h5 class="text-center pb-3"> Round {{ player.round_number}} - Result </h5>
        <div class="card-text">
            <p>
                <b> Profit choice </b> <br>
                {{ if player.participant.job.value == "owner" }}
                    You
                {{ else }}
                    The owner
                {{ endif }}
                chose to use the profit as{{ group.profit_choice }}. <br>
                {{ if group.profit_choice == "owner bonus" }}
                    The profit is transferred to the owners account as an owner bonus.
                {{ elif group.profit_choice == "worker bonus" }}
                    {{ if player.participant.job.value == "owner"}}
                        The three
                    {{ else }}
                        You and the other
                    {{ endif }}
                    workers receive 1/3 {{group.profit}} as a worker bonus.
                {{ else }}
                    The profit is donated to XXX.
                {{ endif }}
            </p>

            {{ if player.round_number > 1 }}
                <b> Selling Choice </b>
                {{ if player.participant.job.value == "owner" }}
                    You have
                {{ else }}
                    The owner has
                {{ endif }}
                stated a price of {{ group.accepted_price}}. The computer's price offer is {{group.price_offer}}. <br>
                Therefore, the company is
                {{ if group.sold }}
                    sold.
                {{ else }}
                    not sold.
                    {{ if player.participant.job.value == "owner" }}
                        You earn
                    {{ else }}
                        The owner earns
                    {{ endif }}
                    {{group.price_offer}}.
                {{ endif }}
            {{ endif }}
        </div>
        <div  class="card-text">
            <table class="table">
               <thead>
               <tr>
                   <th> Round </th>
                   <th> Total sliders solved </th>
                   <th> Profit </th>
                   <th> Profit choice </th>
                   <th> Your payoff </th>
               </tr>
               </thead>
               <tbody>
               {{ for round, results in player.participant.previous_results.items }}
                 <tr>
                       {{ for result in results }}
                            <td> {{ result }}</td>
                       {{ endfor }}
                    </tr>
               {{ endfor }}
               <tr>
                   <td>{{player.round_number}}</td>
                   <td>{{group.tot_effort}}</td>
                   <td>{{group.profit}}</td>
                   <td>{{group.profit_choice}}</td>
                   <td>{{player.payoff}}</td>
               </tr>
               </tbody>
            </table>
        </div>
    </div>
</div>
<div style="text-align:center;">
    <button class="otree-btn-next btn btn-primary next-button otree-next-button">Next</button>
</div>
{{ endblock }}



